﻿@using eCall.Moodle;
@model IEnumerable<MoodleReportGradeItem>

@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@Resources.Resource.Report
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.UserName) </th>
                            <th> @Html.DisplayNameFor(model => model.UserEmail) </th>
                            <th> @Html.DisplayNameFor(model => model.State) </th>
                            <th> @Html.DisplayNameFor(model => model.StartedOn) </th>
                            <th> @Html.DisplayNameFor(model => model.Completed) </th>
                            <th> @Html.DisplayNameFor(model => model.TakenTime) </th>
                            <th> @Html.DisplayNameFor(model => model.FinalGrade) </th>
                            <th> @Html.DisplayNameFor(model => model.AttemptId) </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.UserName) </td>
                            <td> @Html.DisplayFor(modelItem => item.UserEmail) </td>
                            <td> @Html.DisplayFor(modelItem => item.State) </td>
                            <td> @Html.DisplayFor(modelItem => item.StartedOn) </td>
                            <td> @Html.DisplayFor(modelItem => item.Completed) </td>
                            <td> @Html.DisplayFor(modelItem => item.TakenTime) </td>
                            <td> @Html.DisplayFor(modelItem => item.FinalGrade) </td>
                            <td> <button type="button" class="btn btn-default btn-sm" onclick="showDetails(@item.AttemptId)">Details</button> </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>

<script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>

<script type="text/javascript">

    function showDetails(id) {
            $.ajax({
                url: '/Grade/GetMoodleAttempt',
                data: {
                    'id': id
                },
                success: function (html) {
                    bootbox.alert({
                        size: "large",
                        message: html,
                        buttons: {
                            ok: {
                                label: 'OK',
                                className: 'btn-default'
                            }
                        }
                    });
                }
            });
    }
</script>

