﻿@using Resources;
@using eCall.Moodle;

@model eCall.ClientAccount.Web.Models.Grades.MoodleReportViewModel

@{
    ViewBag.Title = "Оценки";
    ViewBag.Sub = "Знания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageLevelPluginsStyles{
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Sub</span>
        </li>
    </ul>
</div>



<h3 class="page-title">
    Оценка знаний
</h3>

<form id="optsForm" action="@Url.Action("GetMoodleReport", "Grade")">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-filter font-purple"></i>
                <span class="caption-subject font-purple bold uppercase">@Resource.Filter</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <button type="submit" class="btn green sbold uppercase btn-outline btn-circle btn-sm reload" id="blockui_sample_4_1">
                        @Resource.Apply <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    @Html.HiddenFor(m => m.CategoryId)
                    @Html.HiddenFor(m => m.CohortId)
                    @if (!Model.HasCourseId)
                    {
                    <div class="col-md-2">
                        <span class="help-block">@Resources.Resource.Course</span>
                        @Html.DropDownListFor(m => m.CourseId, Model.Courses, new { @class = "form-control" })
                    </div>
                    } else
                    {
                        @Html.HiddenFor(m=> m.CourseId)
                    }
                    <div class="col-md-2" style="display:inline;">
                        <span class="help-block">@Resource.PeriodStart</span>
                        <div class='input-group date form_date' id="datefrom">
                            <input name="DateFrom" id="DateFrom" type='text' class="form-control dtp-custom" value="@Model.DateFrom" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">@Resource.PeriodEnd</span>
                        <div class='input-group date form_date' id="dateto">
                            <input name="DateTo" id="DateTo" type="text" class="form-control dtp-custom" value="@Model.DateTo" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @if (Model.Users != null && Model.Users.Count > 1) {
                    <div class="col-md-2">
                        <span class="help-block">@Resources.Resource.Operator</span>
                        @Html.DropDownListFor(m => m.UserId, Model.Users, new { @class = "form-control" })
                    </div>
                    } else
                    {
                        @Html.HiddenFor(m=> m.UserId)
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<div id="results"></div>


@section PageLevelPluginsScript {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")

    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
}

@section PageLevelScripts{
    @*<script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>
        <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>*@
    <script src="~/Scripts/Pages/ui-blockui.js"></script>

    <script type="text/javascript">

        // this is the id of the form
        $("#optsForm").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    $("#results").html(data);
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.

            App.blockUI({
                target: '#results',
                boxed: true,
                message: 'Loading...'
            });

            window.setTimeout(function () {
                App.unblockUI('#results');
            }, 100000);
        });


        $(".form_date").datetimepicker({
            useCurrent: true,
            keepOpen: false,
            locale: moment.locale(),
            format: 'DD.MM.YYYY' //'DD.MM.YYYY HH:mm'
        });


    </script>

}



