﻿@using eCall.ClientAccount.Web.Models.Catalog
@model IEnumerable<CategoryModel>

@{
    List<ReportCategoryModel> reptList = ViewBag.reportForCustomer;
}

@helper BuildMenu(IEnumerable<CategoryModel> data, int? parentId = 0)
    {
        var items = data.Where(d => d.ParentId == parentId).OrderBy(i => i.Order);
        if (items.Any())
        {

            foreach (var item in items)
            {
                List<ReportCategoryModel> reptList = ViewBag.reportForCustomer;
                <li class="classic-menu-dropdown" title="@item.Name">
                    <a href="@item.Url">
                        <i class="@item.PictureUrl"></i> @item.Name
                        @if (data.Count(p => p.ParentId == item.Id) > 0 || reptList.Count(c => c.CategoryId == item.Id) > 0)
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            @BuildMenu(data, item.Id)
                            @RenderReportItem(reptList, item)
                        </li>
                    </ul>
                </li>
            }
        }
}

@helper RenderReportItem(IEnumerable<ReportCategoryModel> reportList, CategoryModel mi)
    {
        foreach (var cp in reportList.Where(p => p.CategoryId == mi.Id))
        {
            @:<li class="nav-item " title="@cp.Name">
                <a href="@Url.Action("Index", "Report", new { reportId = cp.Id } )" class="nav-link nav-toggle">
                    <span class="title">@cp.Name</span>
                </a>
            @:</li>
        }
}

@BuildMenu(Model)