﻿<!-- BEGIN MEGA MENU -->
<!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
<!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
<div class="hor-menu   hidden-sm hidden-xs">
    <ul class="nav navbar-nav">
        <li class="classic-menu-dropdown ">
            <a href="@Url.Action("Index", "Home")">
                <i class="icon-home"></i> @Resources.Resource.Main
                <span class="selected"> </span>
            </a>
        </li>
        @Html.Action("Category", "Catalog")
        <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        @*<li class="classic-menu-dropdown">
            <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                <i class="icon-call-end"></i> Онлайн статистика
                <i class="fa fa-angle-down"></i>
                
            </a>
            <ul class="dropdown-menu pull-left">
                <li>
                    <a href="@Url.Action("StatisticInb", "Statistic")">
                        <i class="icon-call-in"></i> Входящие
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("StatisticOut", "Statistic")">
                        <i class="icon-call-out"></i> Исходящие
                    </a>
                </li>                
            </ul>
        </li>*@
        @*<li class="classic-menu-dropdown">
            <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                <i class="icon-notebook"></i> Отчеты
                <i class="fa fa-angle-down"></i>
                
            </a>
            <ul class="dropdown-menu pull-left">
                <li>
                    <a href="@Url.Action("", "")">
                        <i class="icon-login"></i> Test
                    </a>
                </li>                
            </ul>
        </li>
        <li class="classic-menu-dropdown">
            <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                <i class="icon-music-tone"></i> Записи звонков
                <i class="fa fa-angle-down"></i>                
            </a>
            <ul class="dropdown-menu pull-left">
                <li>
                    <a href="@Url.Action("RecordIn", "CallRecord")">
                        <i class="icon-login"></i> Входящие
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("RecordOut", "CallRecord")">
                        <i class="icon-logout"></i> Исходящие
                    </a>
                </li>
            </ul>
        </li>*@
        @*<li class="classic-menu-dropdown">
            <a href="#">
                <i class="icon-dislike"></i> Отчет о жалобах
            </a>
        </li>
        <li class="classic-menu-dropdown">
            <a href="#">
                CR
            </a>

        </li>*@
        @*<li class="classic-menu-dropdown">
            <a href="#">
                <i class="icon-users"></i> Крок                
            </a>
            
        </li>
        <li class="classic-menu-dropdown">
            <a href="#">
                <i class="icon-share-alt"></i> Файлы
            </a>
            
        </li>*@
    </ul>
</div>
<!-- END MEGA MENU -->