﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Client</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/global/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/global/plugins/simple-line-icons/simple-line-icons.min.css")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("PageLevelPluginsStyles", required: false)
    <link href="~/Content/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    @Styles.Render("~/Content/global/css/plugins.min.css")
    @Styles.Render("~/Content/layouts/layout/css/layout.min.css")
    <link href="~/Content/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    @Styles.Render("~/Content/layouts/layout/css/custom.min.css")
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
    @Html.Partial("_Header")
    <div class="clearfix"> </div>
    <div class="page-container">
        @Html.Partial("_Sidebar")
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        @*<a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>*@
    </div>
    @Html.Action("Footer", "Common", new { area = "" })
    <!--[if lt IE 9]>
    <script src="~/Content/global/plugins/respond.min.js"></script>
    <script src="~/Content/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/global/scripts/cisco.js"></script>

    @Scripts.Render("~/Scripts/jquery-3.2.1.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @*@Scripts.Render("~/Scripts/respond.js")*@
    @Scripts.Render("~/Content/global/plugins/js.cookie.min.js")
    @Scripts.Render("~/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery.blockui.min.js")
    @Scripts.Render("~/Content/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")
    @Scripts.Render("~/Content/global/plugins/bootbox/bootbox.min.js")
    @RenderSection("PageLevelPluginsScript", required: false)
    @Scripts.Render("~/Content/global/scripts/app.min.js")
    @RenderSection("PageLevelScripts", required: false)
    @Scripts.Render("~/Content/layouts/layout/scripts/layout.js")
    @Scripts.Render("~/Content/layouts/layout/scripts/demo.min.js")
    @*@Scripts.Render("~/Content/layouts/global/scripts/quick-sidebar.min.js")*@
    @if (!string.IsNullOrEmpty(ViewBag.CurrentPage))
    {
        <script type="text/javascript">
        $(function () {
            //$("li[title=@ViewBag.CurrentPage]").prev().parents("li ul").prev().addClass("active");
            $("li[title=@ViewBag.CurrentPage]").addClass("active");

        });

        </script>
    }
</body>
</html>