﻿<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- END SIDEBAR MENU -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
            <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->
                <li class="classic-menu-dropdown active">
                    <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">
                        <i class="icon-home"></i> @Resources.Resource.Main
                        <span class="selected"> </span>
                    </a>
                </li>
                @Html.Action("Category", "Catalog")

                @*<li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        Mega
                        <span class="arrow"> </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                Section 1
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                Section 2
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                Section 3
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Example Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>*@
            </ul>
            <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
