﻿@{
    Layout = null;
}

<script type="text/javascript" src="~/Content/global/scripts/cisco.js"></script>

<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

<button onclick="sendAlert()">Test</button>

<div class='input-group date form_datetime' id="datefrom">
    <input name="StartDate" id="datefrom-input" type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 00:00")" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

<script>
    $(function () {
        $(".form_datetime").datetimepicker({
            useCurrent: true,
            keepOpen: false,
            locale: moment.locale(),
            format: 'DD.MM.YYYY HH:mm:ss' //'DD.MM.YYYY HH:mm'
        });
    })

    function sendAlert() { alert('test'); }
</script>