﻿@*@model IEnumerable<eCall.ClientAccount.Web.Models.CallRecords.RecordModel>*@
@model eCall.ClientAccount.Web.Models.CallRecords.MP3RecordModel

@*<div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Прослушать запись</h4>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-striped">
                <thead style="background: #fc0; text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.vrID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SkillGroup)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hold)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ANI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DNIS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndCall)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).vrID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).Agent)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).SkillGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).Hold)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).ANI)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).DNIS)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).TN)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ElementAt(0).EndCall)
                    </td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered">
                <thead style="background: #fc0; text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direction)
                        </th>
                        <th colspan="2">Отдельно</th>
                    </tr>
                </thead>
                @for (int i = 1; i < Model.Count();)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i).StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i).Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i).Direction)
                        </td>
                        <td>
                            <audio type="audio/ogg" onmouseup="sinc('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')" id="@Model.ElementAt(i).vrID" src="@Url.Content("~/Media/" + Model.ElementAt(0).vrID + "/ogg/" + Model.ElementAt(i).vrID + ".ogg")" controls></audio>
                        </td>
                        <td style="padding-top: 33px" rowspan="2">
                            <button class="btn btn-success" onclick="start('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')">></button><button class="btn btn-warning" onclick="pause('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')">||</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i + 1).StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i + 1).Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ElementAt(i + 1).Direction)
                        </td>
                        <td>
                            <audio type="audio/ogg" onmouseup="sinc('@Model.ElementAt(i + 1).vrID','@Model.ElementAt(i).vrID')" id="@Model.ElementAt(i + 1).vrID" src="@Url.Content("~/Media/" + Model.ElementAt(0).vrID + "/ogg/" + Model.ElementAt(i + 1).vrID + ".ogg")" controls></audio>
                        </td>
                    </tr>
                    i += 2;

                    if (i < Model.Count())
                    {
                        <tr class="playhold">
                            <td>Hold</td>
                            <td colspan="5">@Model.ElementAt(0).Hold</td>
                        </tr>}
                }

            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Отмена</button>
        </div>
    </div>*@

<div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Прослушать запись</h4>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-striped">
                <thead style="background: #fc0; text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.vrID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SkillGroup)
                        </th>
                        @*<th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hold)
                    </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.ANI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DNIS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndCall)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.vrID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Agent)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SkillGroup)
                    </td>
                    @*<td>
                    @Html.DisplayFor(model => model.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Duration)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hold)
                </td>*@
                    <td>
                        @Html.DisplayFor(model => model.ANI)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DNIS)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TN)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EndCall)
                    </td>
                </tr>
            </table>

            <br />
            @*<form action="@Url.Action("RepairIn", new { id = Model.vrID })">
                <button class="btn btn-warning">Исправить</button><span>  ЕСЛИ НЕТ ЗАПИСЕЙ!!!  </span>
            </form>
            <br />*@

            <table class="table table-bordered">
                <thead style="background: #fc0; text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hold)
                        </th>
                        <th colspan="2">Play record</th>
                    </tr>
                </thead>
                @*@for (int i = 1; i < Model.Count();)
            {*@

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Hold)
                    </td>
                    <td>
                        @*<audio type="audio/mpeg" onmouseup="sinc('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')" id="@Model.vrID" src="@Url.Content("~/Media/" + Model.vrID + "/wav/" + Model.vrID + ".mp3")" controls></audio>*@

                        <audio controls>
                            <source src="@Url.Content("~/Media/" + Model.vrID + "/wav/" + Model.vrID + ".wav")" type="audio/wav">
                           @* <source src="@Model.FilePath" type="audio/wav">*@
                        </audio>
                    </td>
                    @*<td style="padding-top: 33px" rowspan="2">
                    <button class="btn btn-success" onclick="start('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')">></button><button class="btn btn-warning" onclick="pause('@Model.ElementAt(i).vrID','@Model.ElementAt(i + 1).vrID')">||</button>
                </td>*@
                </tr>

                @*<tr>
                <td>
                    @Html.DisplayFor(model => model.ElementAt(i + 1).StartTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ElementAt(i + 1).Duration)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ElementAt(i + 1).Direction)
                </td>
                <td>
                    <audio type="audio/ogg" onmouseup="sinc('@Model.ElementAt(i + 1).vrID','@Model.ElementAt(i).vrID')" id="@Model.ElementAt(i + 1).vrID" src="@Url.Content("~/Media/" + Model.ElementAt(0).vrID + "/ogg/" + Model.ElementAt(i + 1).vrID + ".ogg")" controls></audio>
                </td>
            </tr>*@
                @*i += 2;*@

                @*if (i < Model.Count())
            {
                <tr class="playhold">
                    <td>Hold</td>
                    <td colspan="5">@Model.ElementAt(0).Hold</td>
                </tr>
            }*@
                @*}*@

            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Отмена</button>
        </div>
    </div>

<script type="text/javascript">
    function start(id1, id2) {
        if ($("#" + id1).attr("src") == "" && $("#" + id2).attr("src") == "")
            alert("Файлы отсутствуют");
        else {
            $("#" + id1).trigger("play");
            $("#" + id2).trigger("play");
        }
        //document.getElementById(id1).play();
        //document.getElementById(id2).play();
    }
    function pause(id1, id2) {
        document.getElementById(id1).pause();
        document.getElementById(id2).pause();
    }
    function sinc(from, to) {
        document.getElementById(to).currentTime = document.getElementById(from).currentTime;
    }

    //function PutRecordID() {
    //    document.getElementById('PlayRecordID').href = "/Record/Play/" + document.getElementById("RecordID").value;

    //};
</script>
