﻿@model IEnumerable<eCall.ClientAccount.Web.Models.CallRecords.VoiceRecordModel>

<table class="table table-striped table-bordered table-hover order-column" id="sample_1">
    <thead>
        <tr>
            <th width="70px">
                Действия
            </th>
            <th> ID </th>
            <th> Agent </th>
            <th> SkillGroup </th>
            <th> Start Time </th>
            <th> Duration </th>
            <th> Hold </th>
            <th> CLID/ANI </th>
            <th> DNIS </th>
            <th> TN </th>
            <th> EndCall </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="odd gradeX">
            <td class="btn-group btn-group-solid" style="display:flex;white-space:nowrap" align="center">
                <a class="btn btn-icon-only blue popovers compItem" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Играть" data-placement="bottom" href="@Url.Action("Details", "CallRecord", new { id = item.vrID })">
                    <i class="icon-control-play"></i>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @{
            int hold = (int)item.Duration - (int)item.Hold / 2;
            @hold
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ANI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCall)
            </td>
        </tr>
        }
    </tbody>
</table>


<div id="modDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>
@*<div class="modal fade" id="basic" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal Title</h4>
                </div>
                <div class="modal-body">
                    <label class="control-label" for="Domain">Domain</label>
                    <select class="form-control" id="domainSelect" style="width: 270px"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn green" id="test">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@


@Scripts.Render("~/Content/global/scripts/datatable.js")
@Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
@Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")




@Scripts.Render("~/Scripts/Pages/table-datatables-managed.js")
<script src="~/Scripts/Pages/components-date-time-pickers.js"></script>


<script type="text/javascript">

    //$(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    //})
</script>

