﻿@using Resources;
@model eCall.ClientAccount.Web.Models.CallRecords.FindRecordModel
@{
    ViewBag.Title = Resource.CallRecords;
    ViewBag.Sub = Resource.Outbound;

}

@section PageLevelPluginsStyles{
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    <link href="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
}


<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Sub</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<h3 class="page-title">
    @ViewBag.Title
    <small>@ViewBag.Sub</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

@using (Ajax.BeginForm("RecordOutSearch", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-filter font-purple"></i>
                <span class="caption-subject font-purple bold uppercase">@Resource.Filter</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <button type="submit" class="btn green sbold uppercase btn-outline btn-circle btn-sm reload" id="blockui_sample_4_1">
                        @Resource.Apply <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <span class="help-block">@Resource.PeriodStart</span>
                        <div class='input-group date form_datetime' id="datefrom">
                            <input name="StartDate" id="datefrom-input" type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 00:00")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @*<div class="input-group date form_datetime">
                                <input type="text" size="16" class="form-control" placeholder="@Resource.PeriodStart" name="StartDate">
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>*@
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">@Resource.PeriodEnd</span>
                        <div class='input-group date form_datetime' id="dateto">
                            <input name="EndDate" id="dateto-input" type="text" class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 23:59:59")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @*<div class="input-group date form_datetime">
                                <input type="text" size="16" class="form-control" placeholder="@Resource.PeriodEnd" name="EndDate">
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>*@
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">@Resource.SkillGroup</span>
                        @Html.DropDownListFor(m => m.SkillGroupId, Model.AvailableSkillGroup, new { @class = "form-control" })
                        @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="SkillGroup">*@
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">@Resource.PhoneNumber</span>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Номер телефона">*@
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">Оператор</span>
                        @Html.DropDownListFor(m => m.AgentId, Model.AvailableAgent, new { @class = "form-control" })
                        @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Оператор">*@
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">@Resource.NumberOfRecords</span>
                        @Html.EditorFor(model => model.Top, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Количество записей">*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="help-block">Мин. длительность разговора</span>
                        @Html.EditorFor(model => model.MinDuration, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-2">
                        <span class="help-block">Макс. длительность разговора</span>
                        @Html.EditorFor(model => model.MaxDuration, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@ViewBag.Title</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-outline grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option1">@Resource.SaveRecords
                        </label>
                        <label class="btn btn-outline grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">@Resource.ImportToExcel
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body" id="results">
                <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th width="70px">
                                @Resource.Actions
                            </th>
                            <th> ID </th>
                            <th> Agent </th>
                            <th> SkillGroup </th>
                            <th> Start Time </th>
                            <th> Duration </th>
                            <th> Hold </th>
                            <th> CLID/ANI </th>
                            <th> DNIS </th>
                            <th> TN </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section PageLevelPluginsScript {
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")

    <script src="~/Content/global/plugins/moment-with-locales.min.js"></script>
    <script src="~/Content/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

}

@section PageLevelScripts{
    @Scripts.Render("~/Scripts/Pages/table-datatables-managed.js")
    <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>
    <script src="~/Scripts/Pages/ui-blockui.js"></script>
}