﻿@model eCall.ClientAccount.Web.Models.Complaint.ComplaintAddModel

@{
    ViewBag.Title = "Создать жалабу";
    ViewBag.Candidates = "active";
    ViewBag.CandidatesList = "active";
}

@Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
@Styles.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
<link href="~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resources.Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

@using (Html.BeginForm("AddComplaint", "Report",
    FormMethod.Post,
    new { id = "form_sample_2" }))
{
    @Html.AntiForgeryToken()

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
            </div>
            <div class="actions">
                <div class="form-actions no-color">
                    <button type="submit" class="btn sbold green" value="Create">
                        <i class="fa fa-plus-square"></i> Создать
                    </button>
                    <a id="sample_editable_1_new" href="@Url.Action("Complaint")" class="btn sbold green">
                        <i class="fa fa-arrow-left"></i> Назад
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button> Your form validation is successful!
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintDescription)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-7">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите описание жалобы" } })
                            </div>
                            @*@Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Large Input" } })*@
                            @Html.ValidationMessageFor(model => model.ComplaintDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintTheme)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-3">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownListFor(model => model.ComplaintTheme,
new List<SelectListItem>
{
new SelectListItem { Value = "", Text = "Выберите тему жалобы"},
new SelectListItem { Value = "Условия тарифа", Text = "Условия тарифа"},
new SelectListItem { Value = "Подбор и изменение ТП", Text = "Подбор и изменение ТП"},
new SelectListItem { Value = "Снятие средств", Text = "Снятие средств"},
new SelectListItem { Value = "Год без абонплат", Text = "Год без абонплат"},
new SelectListItem { Value = "Пополнение счета", Text = "Пополнение счета"},
new SelectListItem { Value = "Качество обслуживания", Text = "Качество обслуживания"},
new SelectListItem { Value = "Изменения в тарификации", Text = "Изменения в тарификации"},
new SelectListItem { Value = "Восстановление и блокировки сим-карты/PUK-код", Text = "Восстановление и блокировки сим-карты/PUK-код"},
new SelectListItem { Value = "Статус номера", Text = "Статус номера"},
new SelectListItem { Value = "Услуги удобной связи", Text = "Услуги удобной связи"},
new SelectListItem { Value = "Качество связи", Text = "Качество связи"},
new SelectListItem { Value = "Пакеты минут/услуги для звонков", Text = "Пакеты минут/услуги для звонков"},
new SelectListItem { Value = "Пакеты СМС/ММС", Text = "Пакеты СМС/ММС"},
new SelectListItem { Value = "Статус заявки CMS", Text = "Статус заявки CMS"},
new SelectListItem { Value = "Интернет услуги", Text = "Интернет услуги"},
new SelectListItem { Value = "Настройка интернета", Text = "Настройка интернета"},
new SelectListItem { Value = "Коннект CDMA/Коннект GPRS/EDGE", Text = "Коннект CDMA/Коннект GPRS/EDGE"},
new SelectListItem { Value = "3G интернет (UMTS)", Text = "3G интернет (UMTS)"},
new SelectListItem { Value = "Международные услуги и роуминг", Text = "Международные услуги и роуминг"},
new SelectListItem { Value = "Развлекательные услуги", Text = "Развлекательные услуги"},
new SelectListItem { Value = "Акции", Text = "Акции"},
new SelectListItem { Value = "Программы лояльности", Text = "Программы лояльности"},
new SelectListItem { Value = "Другие услуги", Text = "Другие услуги"},
new SelectListItem { Value = "Общие вопросы", Text = "Общие вопросы"},
new SelectListItem { Value = "Адреса магазинов MTC", Text = "Адреса магазинов MTC"},
new SelectListItem { Value = "Неэффективен звонок", Text = "Неэффективен звонок"},
new SelectListItem { Value = "Скорость интернета", Text = "Скорость интернета"},
new SelectListItem { Value = "500 Мб за 10 грн", Text = "500 Мб за 10 грн"}
},
new { @class = "form-control", placeholder = "Выберите тему жалобы" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.PhoneCustomer)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-7">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EditorFor(model => model.PhoneCustomer, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите номер клиента" } })
                            </div>

                            @Html.ValidationMessageFor(model => model.PhoneCustomer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.TypeCustomer)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-3">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownListFor(model => model.TypeCustomer,
new List<SelectListItem>
{
new SelectListItem { Value = "", Text = "Выберите тип абонента"},
new SelectListItem { Value = "S", Text = "S"},
new SelectListItem { Value = "S+", Text = "S+"},
new SelectListItem { Value = "HP", Text = "HP"},
new SelectListItem { Value = "Не известно", Text = "Не известно"}
},
new { @class = "form-control", placeholder = "Выберите тему жалобы" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintDateTime)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-2">
                            <div class='input-group date datetimepicker' >
                                <input id="ComplaintDateTime" name="ComplaintDateTime" type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy HH:mm")" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @*<div class="input-icon right">
                                <i class="fa"></i>
                                <div class="input-group date datetimepicker">
                                    <input type="text" size="16" readonly class="form-control" placeholder="Выберите дату и время" name="ComplaintDateTime" id="ComplaintDateTime">
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>*@


                            @* @Html.EditorFor(model => model.ComplaintDateTime, new { htmlAttributes = new { @class = "datetimepicker form-control", @readonly = "readonly" } })*@

                            @Html.ValidationMessageFor(model => model.ComplaintDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintInformation)
                        </label>
                        <div class="col-md-7">
                            @Html.TextAreaFor(model => model.ComplaintInformation, 5, 40, new { @class = "form-control", placeholder = "Введите информацию о жалобе" })
                            @Html.ValidationMessageFor(model => model.ComplaintInformation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintComment)
                        </label>
                        <div class="col-md-7">
                            @Html.TextAreaFor(model => model.ComplaintComment, 5, 40, new { @class = "form-control", placeholder = "Введите коментарии о жалобе" })
                            @Html.ValidationMessageFor(model => model.ComplaintComment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Помилка</h4>
                </div>
                <div class="modal-body" id='@ViewBag.content'>
                    <p> @ViewBag.content </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                </div>
            </div>
        </div>
    </div>*@

@section PageLevelScripts {
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>*@
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")


    <script src="~/Content/global/plugins/moment-with-locales.min.js"></script>
    <script src="~/Content/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>


    <script src="~/Content/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    @*<script src="~/Content/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/Content/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>*@
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    @*<script src="~/Content/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>*@
    @*@Scripts.Render("~/Content/global/scripts/datatable.js")
        @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
        @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
        @Scripts.Render("~/Scripts/Pages/table-datatables-managed.min.js")*@
    <script src="~/Scripts/Pages/form-validation.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                if ($(".modal-body").attr("id") != null) {
                    $("#static").modal('show');
                }
            });
        </script>*@
    <script>
        $('.datetimepicker').datetimepicker({
            //autoclose: true,
            //isRTL: App.isRTL(),
            //format: "dd.mm.yyyy hh:ii",
            //pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
            useCurrent: false,
            locale: moment.locale(),
            format: 'DD.MM.YYYY HH:mm'
        });
        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal

        // Workaround to fix datetimepicker position on window scroll
        $(document).scroll(function () {
            $('#form_modal1 .form_datetime, #form_modal1 .form_advance_datetime, #form_modal1 .form_meridian_datetime').datetimepicker('place'); //#modal is the id of the modal
        });
    </script>
}

