﻿@model IEnumerable<eCall.ClientAccount.Web.Models.Complaint.ComplaintModel>


@*@section PageLevelPluginsStyles{
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    @Styles.Render("~/Content/daterangepicker.css")
}*@

@*<div class="row">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">Список жалоб</span>
                </div>

                @if (Request.IsAuthenticated && User.IsInRole("CAUser"))
    {
                <div class="actions">
                    <div class="form-actions no-color">
                        <a id="sample_editable_1_new" href="@Url.Action("AddComplaint")" class="btn sbold green">Создать <i class="fa fa-plus"></i></a>
                    </div>
                </div>
}
            </div>
            <div class="portlet-body" id="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_3">
                    <thead>
                        <tr align="center" valign="center">
                            <th>
                                Действия
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComplaintId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComplaintDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneCustomer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TypeCustomer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecordCallId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComplaintResult)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="btn-group btn-group-solid" style="display:flex;white-space:nowrap" align="center">
                                    @if (Request.IsAuthenticated && User.IsInRole("CAManager"))
                                    {
                                        <a class="btn btn-icon-only yellow-saffron popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Изменить" data-placement="bottom" href="@Url.Action("EditComplaint", "Report", new { id = item.ComplaintId })">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    }
                                    <a class="btn btn-icon-only blue popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Детали" data-placement="bottom" href="@Url.Action("DetailsComplaint", "Report", new { id = item.ComplaintId })">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.ComplaintId)</td>
                                <td>@Html.DisplayFor(modelItem => item.ComplaintDateTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneCustomer)</td>
                                <td>@Html.DisplayFor(modelItem => item.TypeCustomer)</td>
                                <td>
                                    @if (item.RecordCallId != null)
                                    {
                                        <a class="compItem" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Играть" data-placement="bottom" href="@Url.Action("Details", "CallRecord", new { id = item.RecordCallId })">
                                            @item.RecordCallId.ToString()
                                        </a>
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                <td>@Html.DisplayFor(modelItem => item.ComplaintResult)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Список жалоб
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                @if (Request.IsAuthenticated && User.IsInRole("CAUser"))
    {
            <div class="actions">
                <div class="form-actions no-color">
                    <a id="sample_editable_1_new" href="@Url.Action("AddComplaint")" class="btn btn-success sbold ">Создать <i class="fa fa-plus"></i></a>
                </div>
            </div>
            <br />
}

                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>
                            <th> Действия </th>
                            <th> @Html.DisplayNameFor(model => model.ComplaintId) </th>
                            <th> @Html.DisplayNameFor(model => model.ComplaintTheme) </th>
                            <th> @Html.DisplayNameFor(model => model.Operator) </th>
                            <th> @Html.DisplayNameFor(model => model.ComplaintDateTime) </th>
                            <th> @Html.DisplayNameFor(model => model.PhoneCustomer) </th>
                            <th> @Html.DisplayNameFor(model => model.TypeCustomer) </th>
                            <th> @Html.DisplayNameFor(model => model.RecordCallId) </th>
                            <th> @Html.DisplayNameFor(model => model.CreatedOn) </th>
                            <th> @Html.DisplayNameFor(model => model.ComplaintResult) </th>
                            <th> @Html.DisplayNameFor(model => model.UpdatedOn) </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        { 
                        <tr>
                            <td>
                                @if (Request.IsAuthenticated && User.IsInRole("CAManager"))
        {
                        <a class="btn btn-icon-only yellow-saffron popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Изменить" data-placement="bottom" href="@Url.Action("EditComplaint", "Report", new { id = item.ComplaintId })">
                            <i class="fa fa-pencil"></i>
                        </a>
}
                                <a class="btn btn-icon-only blue popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Детали" data-placement="bottom" href="@Url.Action("DetailsComplaint", "Report", new { id = item.ComplaintId })">
                                    <i class="fa fa-info"></i>
                                </a>
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.ComplaintId) </td>
                            <td> @Html.DisplayFor(modelItem => item.ComplaintTheme) </td>
                            <td> @Html.DisplayFor(modelItem => item.Operator) </td>
                            <td> @Html.DisplayFor(modelItem => item.ComplaintDateTime) </td>
                            <td> @Html.DisplayFor(modelItem => item.PhoneCustomer) </td>
                            <td> @Html.DisplayFor(modelItem => item.TypeCustomer) </td>
                            <td>
                                @if (item.RecordCallId != null)
        {
                        <a class="compItem" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Играть" data-placement="bottom" href="@Url.Action("Details", "CallRecord", new { id = item.RecordCallId })">
                            @item.RecordCallId.ToString()
                        </a>
                        @*@Url.Action("Details", "CallRecord", new { id = item.RecordCallId })*@
                        @*@Html.ActionLink(item.RecordCallId.ToString(), "Details", "CallRecord", new { id = item.RecordCallId }, null)*@
}
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.CreatedOn) </td>
                            <td> @Html.DisplayFor(modelItem => item.ComplaintResult) </td>
                            <td> @Html.DisplayFor(modelItem => item.UpdatedOn)</td>
                        </tr>
}                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div id="modDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>

<script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>*@




    @*@Scripts.Render("~/Scripts/Pages/table-datatables-managed.js")*@
    @*<script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>*@
    @*@Scripts.Render("~/Scripts/Pages/date-time-pickers.js")
    @Scripts.Render("~/Scripts/Pages/ui-blockui.js")*@

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
            
        })
    </script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#btnExport").click(function (e) {
                window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('table[id$=sample_3]').html()));
                e.preventDefault();
            });
        });
    </script>*@

