﻿@*@model IEnumerable<eCall.ClientAccount.Web.Models.Complaint.ComplaintModel>*@
@model eCall.ClientAccount.Web.Models.Complaint.ComplaintSearchModel
@using Resources;

@{
    ViewBag.Title = "Жалобы";
}

@section PageLevelPluginsStyles{
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    @*@Styles.Render("~/Content/daterangepicker.css")*@
    @Styles.Render("~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Sub</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->


<h3 class="page-title">
    @ViewBag.Title
    <small>@ViewBag.Sub</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-filter font-purple"></i>
            <span class="caption-subject font-purple bold uppercase">@Resource.Filter</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="submit" class="btn red sbold btn-circle btn-sm reload" id="blockui_sample_4_1">
                    @Resource.Apply <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2" style="display:inline;">
                    <span class="help-block">@Resource.PeriodStart</span>
                    <div class='input-group date form_datetime' id="datefrom">
                        <input name="StartDate" id="datefrom-input" type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 00:00")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    @*<span class="help-block">@Resource.PeriodSelection</span>*@
                    @*<div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i> &nbsp;
                        <span> </span>
                        <b class="fa fa-angle-down"></b>
                    </div>*@

                    @*@Html.EditorFor(model => model.PeriodSelection, new { htmlAttributes = new { @class = "btn default reportrange", @readonly = "readonly" } })*@

                </div>
                <div class="col-md-2">
                    <span class="help-block">@Resource.PeriodEnd</span>
                    <div class='input-group date form_datetime' id="dateto">
                        <input name="EndDate" id="dateto-input" type="text" class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 23:59:59")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="help-block">Номер телефона клиента</span>
                    @*@Html.EditorFor(m => m.PhoneCustomer, new { @class = "form-control" })*@
                    @Html.EditorFor(model => model.PhoneCustomer, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите номер телефона" } })
                    @*<input class="form-control" type="text" id="PhoneCustomer" placeholder="Номер телефона клиента">*@
                </div>
                <div class="col-md-2">
                    <span class="help-block">
                        Результат обработки жалобы
                    </span>
                    @Html.DropDownListFor(model => model.ComplaintResult,
                                                                                                    new List<SelectListItem>
                                                                                                    {
new SelectListItem { Value = "", Text = "Выберите результат"},
new SelectListItem { Value = "Подтвержденная", Text = "Подтвержденная"},
new SelectListItem { Value = "Неподтвержденная", Text = "Неподтвержденная"},
new SelectListItem { Value = "Частично подтвержденная", Text = "Частично подтвержденная"}
                                                                                                    },
                                                                                                    new { @class = "form-control", placeholder = "Выберите тему жалобы" })
                </div>

            </div>
        </div>
    </div>
</div>

<div id="results"></div>





@*@Html.Partial("ComplaintSearch")*@

@*<div class="row">
        <div class="col-md-12">
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-bars font-dark"></i>
                        <span class="caption-subject bold uppercase">Список жалоб</span>
                    </div>
                    @if (Request.IsAuthenticated && User.IsInRole("CAUser"))
                    {
                        <div class="actions">
                            <div class="form-actions no-color">
                                <a id="sample_editable_1_new" href="@Url.Action("AddComplaint")" class="btn sbold green">Создать <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover order-column" id="sample_3">
                        <thead>
                            <tr align="center" valign="center">
                                <th>
                                    Действия
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComplaintId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComplaintDateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneCustomer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeCustomer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RecordCallId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComplaintResult)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="btn-group btn-group-solid" style="display:flex;white-space:nowrap" align="center">
                                        @if (Request.IsAuthenticated && User.IsInRole("CAManager"))
                                        {
                                            <a class="btn btn-icon-only yellow-saffron popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Изменить" data-placement="bottom" href="@Url.Action("EditComplaint", "Report", new { id = item.ComplaintId })">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                        <a class="btn btn-icon-only blue popovers" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Детали" data-placement="bottom" href="@Url.Action("DetailsComplaint", "Report", new { id = item.ComplaintId })">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.ComplaintId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ComplaintDateTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneCustomer)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TypeCustomer)</td>
                                    <td>
                                        @if (item.RecordCallId != null)
        {
                                        <a class="compItem" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Играть" data-placement="bottom" href="@Url.Action("Details", "CallRecord", new { id = item.RecordCallId })">
                                            @item.RecordCallId.ToString()
                                        </a>
    }


                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ComplaintResult)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modDialog" class="modal fade" tabindex="-1" aria-hidden="true">
        <div id="dialogContent" class="modal-dialog modal-lg"></div>
    </div>*@

@section PageLevelPluginsScript {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")

    <script src="~/Content/global/plugins/moment-with-locales.min.js"></script>
    <script src="~/Content/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
}

@section PageLevelScripts{
    <script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>
    <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>
    <script src="~/Scripts/Pages/ui-blockui.js"></script>

    <script type="text/javascript">

        $('.reportrange').daterangepicker({
            "ranges": {
                'Сегодня': [moment(), moment()],
                'Вчера': [moment().subtract('days', 1), moment().subtract('days', 1)],
                'Последние 7 дней': [moment().subtract('days', 6), moment()],
                'Последние 30 дней': [moment().subtract('days', 29), moment()],
                'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                'Прошлый месяц': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
            },
            "opens": (App.isRTL() ? 'right' : 'left'),
            "startDate": moment(),
            "endDate": moment(),
            //minDate: '01/01/2012',
            //maxDate: '12/31/2014',
            "dateLimit": {
                "days": 60
            },
            "showDropdowns": true,
            "showWeekNumbers": true,
            "timePicker": false,
            "timePickerIncrement": 1,
            "timePicker12Hour": true,

            "buttonClasses": ['btn'],
            "applyClass": 'green',
            "cancelClass": 'default',
            "format": 'D.MM.YYYY',
            "separator": ' to ',
            "locale": {
                "applyLabel": 'Принять',
                "cancelLabel": 'Отмена',
                "fromLabel": 'From',
                "toLabel": 'To',
                "customRangeLabel": 'Диапазон',
                "daysOfWeek": ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                "monthNames": ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октября', 'Ноябрь', 'Декабрь'],
                "firstDay": 1
            }
        },
            function (start, end) {
                $('#reportrange span').html(start.format('D.MM.YYYY') + ' - ' + end.format('D.MM.YYYY'));
            }
        );

        //Set the initial state of the picker label
        $('#reportrange span').html(moment().format('D.MM.YYYY') + ' - ' + moment().format('D.MM.YYYY'));
        $('#reportrange').show();

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        var sDate = '';
        var eDate = '';

        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            sDate = picker.startDate.format('YYYY-MM-DD');
            eDate = picker.endDate.format('YYYY-MM-DD');
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#blockui_sample_4_1").click(function (e) {
                var phones = $('#PhoneCustomer').val();
                var res = $('#ComplaintResult').val();
                sDate = $("#datefrom-input").val();
                eDate = $("#dateto-input").val();
                $.ajax({
                    type: 'POST',
                    url: '/Report/ComplaintSearch',
                    data: {
                        'sd': sDate, 'ed': eDate, 'phone': phones, 'rescomplaint': res
                    },
                    success: function (html) {
                        $("#results").html(html);
                        TableDatatablesManaged.init();
                    }
                });
            });


        })

        function show() {
            var phones = $('#PhoneCustomer').val();
            var res = $('#ComplaintResult').val();
            $.ajax({
                type: 'POST',
                url: '/Report/ComplaintSearch',
                data: {
                    'sd': sDate, 'ed': eDate, 'phone': phones, 'rescomplaint': res
                },
                success: function (html) {
                    $("#results").html(html);
                    TableDatatablesManaged.init();
                }
            });

            App.blockUI({
                target: '#results',
                boxed: true,
                message: 'Processing...'
            });

            window.setTimeout(function () {
                App.unblockUI('#results');
            }, 100000);
        }

        $(document).ready(function () {

            show();
            //setInterval('show()', 60000);
        });

    </script>


}

