﻿@model eCall.ClientAccount.Web.Models.Complaint.ComplaintModel

@{
    ViewBag.Title = "Информация о жалобе";
    ViewBag.Candidates = "active";
    ViewBag.CandidatesList = "active";
}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resources.Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
                </div>
                <div class="actions">
                    <div class="form-actions no-color">
                        @*<button type="submit" class="btn sbold green" value="Create">
                                <i class="fa fa-plus-square"></i> Создать
                            </button>*@
                        <a id="sample_editable_1_new" href="@Url.Action("Complaint")" class="btn sbold green">
                            <i class="fa fa-arrow-left"></i> Назад
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintId): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintId) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintDescription): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintDescription) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.PhoneCustomer): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.PhoneCustomer) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.TypeCustomer): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.TypeCustomer) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintDateTime): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintDateTime) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintTheme): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintTheme) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintInformation): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintInformation) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintComment): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintComment) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.CreatedBy): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.CreatedBy) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.CreatedOn): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.CreatedOn) </div>
                </div>
                <hr />
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.UpdatedBy): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.UpdatedBy) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.UpdatedOn): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.UpdatedOn) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.Responsible): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.Responsible) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.Operator): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.Operator) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.RecordCallId): </div>
                    <div class="col-md-7 value">
                        @if (Model.RecordCallId != null)
                        {
                            <a class="compItem" style="margin-right:0" data-container="body" data-trigger="hover" data-content="Играть" data-placement="bottom" href="@Url.Action("Details", "CallRecord", new { id = Model.RecordCallId })">
                                @Html.DisplayFor(model => model.RecordCallId)
                            </a>
                            @*@Url.Action("Details", "CallRecord", new { id = item.RecordCallId })*@
                            @*@Html.ActionLink(item.RecordCallId.ToString(), "Details", "CallRecord", new { id = item.RecordCallId }, null)*@
                        }
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.Comment): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.Comment) </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> @Html.DisplayNameFor(model => model.ComplaintResult): </div>
                    <div class="col-md-7 value"> @Html.DisplayFor(model => model.ComplaintResult) </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>



@section PageLevelPluginsScript {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>

}

@section PageLevelScripts{
    @Scripts.Render("~/Scripts/Pages/table-datatables-managed.js")
    @*<script src="~/Scripts/Pages/table-datatables-buttons.min.js"></script>*@
    @Scripts.Render("~/Scripts/Pages/date-time-pickers.js")
    @Scripts.Render("~/Scripts/Pages/ui-blockui.js")

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
