﻿@model eCall.ClientAccount.Web.Models.Complaint.ComplaintModel

@{
    ViewBag.Title = "Редактировать жалобу";
    ViewBag.Candidates = "active";
    ViewBag.CandidatesList = "active";
}

@Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
@Styles.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
<link href="~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resources.Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

@using (Html.BeginForm("EditComplaint", "Report",
    FormMethod.Post,
    new { id = "form_sample_2" }))
{
    @Html.AntiForgeryToken()

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
            </div>
            <div class="actions">
                <div class="form-actions no-color">
                    <button type="submit" class="btn sbold green" value="Edit">
                        <i class="fa fa-plus-square"></i> Сохранить
                    </button>
                    <a id="sample_editable_1_new" href="@Url.Action("Complaint")" class="btn sbold green">
                        <i class="fa fa-arrow-left"></i> Назад
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button> Your form validation is successful!
                    </div>
                    <input type="hidden" id="ComplaintId" name="ComplaintId" value='@Model.ComplaintId' />

                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.ComplaintDescription):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.ComplaintDescription) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.ComplaintTheme):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.ComplaintTheme) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.PhoneCustomer):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.PhoneCustomer) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.TypeCustomer):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.TypeCustomer) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.ComplaintDateTime):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.ComplaintDateTime) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.ComplaintInformation):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.ComplaintInformation) </p>
                        </div>
                    </div>
                    <div class="row static-info">
                        <label class="control-label col-md-3">@Html.DisplayNameFor(model => model.ComplaintComment):</label>
                        <div class="col-md-9 value">
                            <p class="form-control-static"> @Html.DisplayFor(model => model.ComplaintComment) </p>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.Responsible)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-7">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EditorFor(model => model.Responsible, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите описание жалобы" } })
                            </div>
                            @*@Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Large Input" } })*@
                            @Html.ValidationMessageFor(model => model.Responsible, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.Operator)
                        </label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Operator, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите описание жалобы" } })

                            @*@Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Large Input" } })*@
                            @Html.ValidationMessageFor(model => model.Operator, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.RecordCallId)
                        </label>
                        <div class="col-md-7">

                            @Html.EditorFor(model => model.RecordCallId, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите описание жалобы" } })

                            @*@Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Large Input" } })*@
                            @Html.ValidationMessageFor(model => model.RecordCallId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.Comment)

                        </label>
                        <div class="col-md-7">
                            @Html.TextAreaFor(model => model.Comment, 5, 40, new { @class = "form-control", placeholder = "Введите информацию о жалобе" })

                            @*@Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Large Input" } })*@
                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            @Html.DisplayNameFor(model => model.ComplaintResult)
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-3">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownListFor(model => model.ComplaintResult,
new List<SelectListItem>
{
new SelectListItem { Value = "", Text = "Выберите результат"},
new SelectListItem { Value = "Подтвержденная", Text = "Подтвержденная"},
new SelectListItem { Value = "Неподтвержденная", Text = "Неподтвержденная"},
new SelectListItem { Value = "Частично подтвержденная", Text = "Частично подтвержденная"}
},
new { @class = "form-control", placeholder = "Выберите тему жалобы" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section PageLevelScripts {
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>*@
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")


    <script src="~/Content/global/plugins/moment-with-locales.min.js"></script>
    <script src="~/Content/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>


    <script src="~/Content/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    @*<script src="~/Content/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/Content/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>*@
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    @*<script src="~/Content/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>*@
    @*@Scripts.Render("~/Content/global/scripts/datatable.js")
        @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
        @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
        @Scripts.Render("~/Scripts/Pages/table-datatables-managed.min.js")*@
    
    @*<script type="text/javascript">
            $(document).ready(function () {
                if ($(".modal-body").attr("id") != null) {
                    $("#static").modal('show');
                }
            });
        </script>*@
    <script>
        var FormValidation = function () {

            // validation using icons
            var handleValidation2 = function () {
                // for more info visit the official plugin documentation: 
                // http://docs.jquery.com/Plugins/Validation

                var form2 = $('#form_sample_2');
                var error2 = $('.alert-danger', form2);
                var success2 = $('.alert-success', form2);

                form2.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Responsible: {
                            minlength: 3,
                            required: true
                        },
                        ComplaintResult: {
                            required: true

                        },                        
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit              
                        success2.hide();
                        error2.show();
                        App.scrollTo(error2, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var icon = $(element).parent('.input-icon').children('i');
                        icon.removeClass('fa-check').addClass("fa-warning");
                        icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
                    },

                    unhighlight: function (element) { // revert the change done by hightlight

                    },

                    success: function (label, element) {
                        var icon = $(element).parent('.input-icon').children('i');
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                        icon.removeClass("fa-warning").addClass("fa-check");
                    },

                    submitHandler: function (form) {
                        success2.show();
                        error2.hide();
                        form[0].submit(); // submit the form
                    }
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleValidation2();
                }
            };
        }();

        jQuery(document).ready(function () {
            FormValidation.init();
        });

        $('.datetimepicker').datetimepicker({
            //autoclose: true,
            //isRTL: App.isRTL(),
            //format: "dd.mm.yyyy hh:ii",
            //pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
            useCurrent: false,
            locale: moment.locale(),
            format: 'DD.MM.YYYY HH:mm'
        });
        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal

        // Workaround to fix datetimepicker position on window scroll
        $(document).scroll(function () {
            $('#form_modal1 .form_datetime, #form_modal1 .form_advance_datetime, #form_modal1 .form_meridian_datetime').datetimepicker('place'); //#modal is the id of the modal
        });
    </script>
}



