﻿@using Resources;
@model eCall.ClientAccount.Web.Models.Reports.FindReportModel

@{
    ViewBag.Title = Resource.Reports;
    ViewBag.Sub = "Статистика";
}

@section PageLevelPluginsStyles{
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    @Styles.Render("~/Content/daterangepicker.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Sub</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
@*@using (Ajax.BeginForm("RecordOutSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {*@
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-filter font-purple"></i>
            <span class="caption-subject font-purple bold uppercase">@Resource.Filter</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="submit" class="btn green sbold uppercase btn-outline btn-circle btn-sm reload" id="blockui_sample_4_1" onclick="Find('@Model.ReportId')">
                    @Resource.Apply <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2" style="display:inline;">
                    <span class="help-block">@Resource.PeriodStart</span>
                    <div class='input-group date form_datetime' id="datefrom">
                        <input name="StartDate" id="datefrom-input"  type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 00:00")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="help-block">@Resource.PeriodEnd</span>
                    <div class='input-group date form_datetime'  id="dateto">
                        <input name="EndDate" id="dateto-input" type="text" class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 23:59:59")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                @*<div class="col-md-3">
                        <span class="help-block">@Resource.PeriodSelection</span>
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>*@
                <div class="col-md-2">
                    <span class="help-block">SkillGroup</span>
                    @Html.DropDownListFor(m => m.SkillGroupId, Model.AvailableSkillGroup, new { @class = "form-control" })
                    @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="SkillGroup">*@
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@


<div class="row">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green hide"></i>
                    <span class="caption-subject font-dark bold uppercase">@ViewBag.Title</span>
                </div>
                @*<div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" id="showData">
                @*<div id="results"></div>*@
                <table class="table table-striped table-bordered table-hover order-column" id="showData"></table>

            </div>
        </div>
    </div>
</div>

@section PageLevelPluginsScript {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
}

@section PageLevelScripts{
    @Scripts.Render("~/Scripts/Pages/table-datatables-managed.js")
    @Scripts.Render("~/Scripts/Pages/date-time-pickers.js")
    @Scripts.Render("~/Scripts/Pages/ui-blockui.js")
    <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>

    <script>
        var TableDatatablesManaged = function () {

            var initTable1 = function () {

                var table = $('#sample_1');

                // begin first table
                table.dataTable({

                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ records",
                        "infoEmpty": "No records found",
                        "infoFiltered": "(filtered1 from _MAX_ total records)",
                        "lengthMenu": "Show _MENU_",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "previous": "Prev",
                            "next": "Next",
                            "last": "Last",
                            "first": "First"
                        }
                    },

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                    "columnDefs": [{
                        "targets": 0,
                        "orderable": true,
                        "searchable": true
                    }],

                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 5,
                    "pagingType": "bootstrap_full_number",
                    "columnDefs": [{  // set default column settings
                        'orderable': true,
                        'targets': [0]
                    }, {
                        "searchable": true,
                        "targets": [0]
                    }],
                    "order": [
                        [0, "asc"]
                    ] // set first column as a default sort by asc
                });

                var tableWrapper = jQuery('#sample_1_wrapper');

                table.find('.group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).prop("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).prop("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                });

                table.on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });
            }


            return {

                //main function to initiate the module
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }
                    initTable1();
                }

            };

        }();

        var sDate = '';
        var eDate = '';

        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            sDate = picker.startDate.format('YYYY-MM-DD');
            eDate = picker.endDate.format('YYYY-MM-DD');
        });

        function Find(reportId) {
            App.blockUI({
                target: '#showData',
                boxed: true,
                message: 'Processing...'
            });

            window.setTimeout(function () {
                App.unblockUI('#showData');
            }, 1000000);

            var sg = $('#SkillGroupId').val();

            sDate = $("#datefrom-input").val();
            eDate = $("#dateto-input").val();

            $.getJSON("/Report/ReportDisplay?reportId=" + reportId + "&skillgroupid=" + sg + "&StartDate=" + sDate + "&EndDate=" + eDate,

                function (json) {
                    //$('#showData').bootstrapTable('load', json);
                    //var tr;
                    ////Append each row to html table
                    //for (var i = 0; i < json.length; i++) {
                    //    tr = $('<tr/>');
                    //    tr.append("<td>" + json[i] + "</td>");
                    //    tr.append("<td>" + json[i][1] + "</td>");
                    //    tr.append("<td>" + json[i] + "</td>");
                    //    $('table').append(tr);
                    //}
                    var myBooks = json;
                    // EXTRACT VALUE FOR HTML HEADER.
                    // ('Book ID', 'Book Name', 'Category' and 'Price')
                    var col = [];
                    for (var i = 0; i < myBooks.length; i++) {
                        for (var key in myBooks[i]) {
                            if (col.indexOf(key) === -1) {
                                col.push(key);
                            }
                        }
                    }

                    // CREATE DYNAMIC TABLE.
                    var table = document.createElement("table");
                    table.classList = "table table-striped table-bordered table-hover order-column";
                    table.id = "sample_1";

                    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
                    var header = table.createTHead();


                    var tr = header.insertRow(-1);                   // TABLE ROW.


                    for (var i = 0; i < col.length; i++) {
                        var th = document.createElement("th");      // TABLE HEADER.
                        th.innerHTML = col[i];
                        tr.appendChild(th);
                    }

                    var TBody = table.createTBody();
                    // ADD JSON DATA TO THE TABLE AS ROWS.
                    for (var i = 0; i < myBooks.length; i++) {

                        tr = table.insertRow(-1);

                        for (var j = 0; j < col.length; j++) {
                            var tabCell = tr.insertCell(-1);
                            tabCell.innerHTML = myBooks[i][col[j]];
                        }
                        TBody.appendChild(tr);
                    }

                    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                    var divContainer = document.getElementById("showData");
                    divContainer.innerHTML = "";
                    divContainer.appendChild(table);
                    TableDatatablesManaged.init();
                    //$('#sample_1').dataTable()
                });
        }
        //$('#showData').bootstrapTable('load', data);
        //Call EmpDetails jsonResult Method

        $(document).ready(function () {





        });
    </script>
    <script src="~/Scripts/Pages/ui-blockui.js"></script>
}

