﻿@model  eCall.ClientAccount.Web.Models.Account.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Кабинет";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all")
    @Styles.Render("~/Content/global/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/global/plugins/simple-line-icons/simple-line-icons.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")    
    @Styles.Render("~/Content/global/plugins/select2/css/select2.min.css")
    @Styles.Render("~/Content/global/plugins/select2/css/select2-bootstrap.min.css")    
    <link href="~/Content/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    @Styles.Render("~/Content/global/css/plugins.min.css")
    @Styles.Render("~/Content/pages/css/login.min.css")
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        @*<a href="index.html">
                <img src="~/Content/pages/img/logo-big.png" alt="" />
            </a>*@
    </div>
    <!-- END LOGO -->
    @*<img src="@Url.Content("~/Content/Images/Logo.png")" alt="My Company" class="img-responsive logo" />*@

    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
                                                                    FormMethod.Post, new { @class = "login-form", role = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <center><h3><i class="fa fa-sign-in" aria-hidden="true"></i> Личный кабинет клиента</h3></center>
            @Html.ValidationSummary(true)
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Domain, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.DropDownListFor(model => model.Domain, Model.AvailableDomains, new { @class = "select2 form-control", id = "Domain_list", placeholder = "Домен" })
                @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
                @*<i id="username-help" class="fa fa-info-circle"></i>*@
                @*@(Html.Kendo().Tooltip()
                    .For("#username-help")
                    .Position(TooltipPosition.Bottom)
                    .Content("<p><strong>Active Directory</strong> login username and password</p>")
                    .Width(300)
                      )*@

                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "Логин" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "Пароль" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1" /> Запомнить меня
                    <span></span>
                </label>
                <button id="submit-button" type="submit" class="btn green pull-right">Войти</button>
            </div>
        }
    </div>
    <!--[if lt IE 9]>
    <script src="~/Content/global/plugins/respond.min.js"></script>
    <script src="~/Content/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/Scripts/jquery-3.2.1.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/respond.js")
    @Scripts.Render("~/Content/global/plugins/js.cookie.min.js")
    @Scripts.Render("~/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery.blockui.min.js")
    @Scripts.Render("~/Content/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery-validation/js/jquery.validate.min.js")
    @Scripts.Render("~/Content/global/plugins/jquery-validation/js/additional-methods.min.js")
    @Scripts.Render("~/Content/global/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Content/global/scripts/app.min.js")
    @Scripts.Render("~/Scripts/Pages/login.js")
    <script type="text/javascript">
        $(function () {
            $("#@Html.IdFor(model => model.UserName)").focus();

            $("form").data("validator").settings.submitHandler = function (form) {
                $("#submit-button").html("<i class=\"fa fa-spinner fa-pulse\"></i> Signing In...").prop('disabled', true);
                form.submit();
            };
        });
    </script>
</body>
</html>
