﻿@model FooterModel
@using eCall.ClientAccount.Web.Models.Common;

<div class="page-footer">
    <div class="page-footer-inner">
        2017 - @DateTime.Now.Year &copy; @Resources.Resource.PersonalArea by
        <a href="http://ecall.ua" title="@Resources.Resource.EcallSite.ToString()" target="_blank">eCall</a>.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>