﻿<li class="dropdown dropdown-language">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" src="~/Content/global/img/flags/@Resources.Resource.LangFlag.ToString()">
        <span class="langname"> @Resources.Resource.Language </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="@Url.Action("ChangeCulture", "Common", new { lang = "uk" })">
                <img alt="" src="~/Content/global/img/flags/ua.png"> @Resources.Resource.Ukr
            </a>
        </li>
        <li>
            <a href="@Url.Action("ChangeCulture", "Common", new { lang = "ru" })">
                <img alt="" src="~/Content/global/img/flags/ru.png"> @Resources.Resource.Rus
            </a>
        </li>
        @*<li>
                <a href="@Url.Action("ChangeCulture", "Common", new { lang = "en" })">
                    <img alt="" src="~/Content/global/img/flags/us.png"> English
                </a>
            </li>*@
    </ul>
</li>
