﻿@using eCall.ClientAccount.Web.Models.Common;
@model LogoModel
<div class="page-logo">
    <a href="@Url.Action("Index", "Home")">
        <img title="" alt="@Model.StoreName" src="@Model.LogoPath" class="logo-default">
    </a>
</div>
