﻿@using eCall.ClientAccount.Web.Models.Statistics;
@using Resources;

@{
    List<StatisticsOutStatusCallModel> liststatusCallDTO = ViewBag.StatusCall;
    List<StatisticsOutStatusModel> liststatusDTO = ViewBag.Statu;
    List<StatisticsOutStatusNotCallModel> liststatusNotCallDTO = ViewBag.StatusNotCall;

}

<div class="row">
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallStatus</span>
                </div>
            </div>
            <div class="portlet-body" id="results">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallStatus
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemstatus in liststatusDTO)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => itemstatus.CallStatus)</td>
                                <td>@Html.DisplayFor(modelItem => itemstatus.CountRec)</td>
                                <td>@Html.DisplayFor(modelItem => itemstatus.RoundRec)</td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>                            
                            <td>@liststatusDTO.Sum(x => Convert.ToInt32(x.CountRec))</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallResult "Дозвон"</span>
                </div>
            </div>
            <div class="portlet-body" id="results">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallResult "Дозвон"
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemstatus in liststatusCallDTO)
    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => itemstatus.Result)</td>
                        <td>@Html.DisplayFor(modelItem => itemstatus.CountRec)</td>
                        <td>@Html.DisplayFor(modelItem => itemstatus.RoundRec)</td>
                    </tr>
}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>
                            <td>@liststatusCallDTO.Sum(x => Convert.ToInt32(x.CountRec))</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallResult "Недозвон"</span>
                </div>
            </div>
            <div class="portlet-body" id="results">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallResult "Недозвон"
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemstatus in liststatusNotCallDTO)
    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => itemstatus.Result)</td>
                        <td>@Html.DisplayFor(modelItem => itemstatus.CountRec)</td>
                        <td>@Html.DisplayFor(modelItem => itemstatus.RoundRec)</td>
                    </tr>
}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>
                            <td>@liststatusNotCallDTO.Sum(x => Convert.ToInt32(x.CountRec))</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
