﻿@model IEnumerable<eCall.ClientAccount.Web.Models.Statistics.StatisticsModel>

@{ 
    int countAWT = 0;
    int countAgLog = 0;
    int countAgLogDr = 0;
    int countAverageProcessingTime = 0;
    int countAverageHoldTime = 0;
}

<div class="table-container">
    <table class="table table-striped table-bordered table-hover order-column" id="sample_2" style="width:100%;white-space: nowrap;">
        <thead>
            <tr>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Hours </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Promo </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Received<br /> Calls </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Received<br /> / Promo </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Confirmed<br /> Promo </th>
                <th colspan="6" class="nosort" style="text-align:center;vertical-align: middle; "> Served Calls </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> AWT </th>
                <th colspan="6" class="nosort" style="text-align:center;vertical-align: middle; "> Abandons Calls </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> % LCR </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Rejected<br /> Calls </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Served in<br /> Time </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Service<br /> Level </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Average<br /> Processing<br /> Time </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Average<br /> Hold<br /> Time </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Опер.<br /> по<br /> графіку </th>
                <th rowspan="2" class="nosort" style="text-align:center;vertical-align: middle; "> Опер.<br /> в<br /> логіні </th>
            </tr>
            <tr>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> Total </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 5 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 20 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 30 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 60 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> > 60 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> Total </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 5 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 20 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 30 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> < 60 </th>
                <th class="nosort" style="text-align:center;vertical-align: middle; "> > 60 </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                    <td>@Html.DisplayFor(modelItem => item.Promo)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReceivedCalls)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReceivedDivPromo)</td>
                    <td>@Html.DisplayFor(modelItem => item.ConfirmedPromo)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCallsTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCalls5)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCalls20)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCalls30)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCalls60)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServedCallsUp60)</td>
                    <td>@ConvertToHHMMSS(item.AWT)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCallsTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCalls5)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCalls20)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCalls30)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCalls60)</td>
                    <td>@Html.DisplayFor(modelItem => item.AbandonsCallsUp60)</td>
                    <td>@Html.DisplayFor(modelItem => item.LCR) %</td>
                    <td>@Html.DisplayFor(modelItem => item.RejectedCalls)</td>
                    <td>@ConvertToHHMMSS(item.ServedInTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceLevel) %</td>
                    <td>@ConvertToHHMMSS(item.AverageProcessingTime)</td>
                    <td>@ConvertToHHMMSS(item.AverageHoldTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.OperatorGraph)</td>
                    <td>@Html.DisplayFor(modelItem => item.OperatorLogon)</td>
                </tr>
                if (item.AWT != 0)
                {
                    countAWT++;
                }
                if (item.OperatorLogon != 0)
                {
                    countAgLog++;
                }
                if (item.OperatorGraph != 0)
                {
                    countAgLogDr++;
                }
                if (item.AverageProcessingTime != 0)
                {
                    countAverageProcessingTime++;
                }
                if (item.AverageHoldTime != 0)
                {
                    countAverageHoldTime++;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Sum</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.Promo))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ReceivedCalls))</td>
                <td>@*@Model.Sum(x => Convert.ToDouble(x.ReceivedDivPromo)) %*@</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ConfirmedPromo))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCallsTotal))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCalls5))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCalls20))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCalls30))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCalls60))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.ServedCallsUp60))</td>
                <td>@*@ConvertToHHMMSS(Model.Sum(x => x.AWT))*@</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCallsTotal))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCalls5))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCalls20))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCalls30))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCalls60))</td>
                <td>@Model.Sum(x => Convert.ToInt32(x.AbandonsCallsUp60))</td>
                <td></td>
                <td>@Model.Sum(x => Convert.ToInt32(x.RejectedCalls))</td>
                <td>@ConvertToHHMMSS(Model.Sum(x => x.ServedInTime))</td>
                <td></td>
                <td>@*@ConvertToHHMMSS(Model.Sum(x => x.AverageProcessingTime))*@</td>
                <td>@*@ConvertToHHMMSS(Model.Sum(x => x.AverageHoldTime))*@</td>
                <td>@*@Model.Sum(x => Convert.ToInt32(x.OperatorGraph))*@</td>
                <td>@*@Model.Sum(x => Convert.ToInt32(x.OperatorLogon))*@</td>
            </tr>
            <tr>
                <td>Avg</td>
                <td>@*@Model.Select(x => Convert.ToInt32(x.Promo)).DefaultIfEmpty(0).Average().ToString("0.00")*@</td>
                <td>@*@Model.Select(x => Convert.ToInt32(x.ReceivedCalls)).DefaultIfEmpty(0).Average().ToString("0.00")*@</td>
                <td>
                    @{
            double sumpromo = Model.Sum(x => Convert.ToInt32(x.Promo));
            double sumRec = Model.Sum(x => Convert.ToInt32(x.ReceivedCalls));
            if (sumpromo == 0)
            { sumpromo = 1; }

            double res = sumRec / sumpromo;
            int test = (int)res;
            @Html.DisplayFor(x => test);
                    }
                    @*@Model.Average(x => Convert.ToDouble(x.ReceivedDivPromo)).ToString("0.00") %*@
                </td>
                <td></td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCallsTotal)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCalls5)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCalls20)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCalls30)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCalls60)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.ServedCallsUp60)).ToString("0.00")*@</td>
                <td>@ConvertToHHMMSS(Model.Sum(x => x.AbandonsCalls) / (Model.Sum(x => Convert.ToInt32(x.ServedCallsTotal))+ Model.Sum(x => Convert.ToInt32(x.AbandonsCallsTotal))))</td>
                @*<td>@Model.Sum(x => x.AbandonsCalls)</td>*@
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCallsTotal)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCalls5)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCalls20)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCalls30)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCalls60)).ToString("0.00")*@</td>
                <td>@*@Model.Average(x => Convert.ToInt32(x.AbandonsCallsUp60)).ToString("0.00")*@</td>
                <td>
                    @{
            double sumAb = Model.Sum(x => Convert.ToInt32(x.AbandonsCallsTotal));
            double sumRej = Model.Sum(x => Convert.ToInt32(x.RejectedCalls));

            double resAb = (sumAb + sumRej) / sumRec * 100;
            int testAb = (int)resAb;
            @Html.DisplayFor(x => testAb); @:%
                    }
                </td>
                <td></td>
                <td>0</td>
                <td>
                    @{
            double sumSL5 = Model.Sum(x => Convert.ToInt32(x.ServedCalls5));
            double sumSL20 = Model.Sum(x => Convert.ToInt32(x.ServedCalls20));
            double resSL = (sumSL5 + sumSL20) / Model.Sum(x => Convert.ToInt32(x.ServedCallsTotal)) * 100;
            int testSL = (int)resSL;
            @Html.DisplayFor(x => testSL); @:%
                    }
                </td>
                <td>@ConvertToHHMMSS(Model.Sum(x => x.SumTH) / Model.Sum(x => Convert.ToInt32(x.ServedCallsTotal)))</td>
                <td>@ConvertToHHMMSS(Model.Sum(x => x.AverageHoldTime) / countAverageHoldTime)</td>
                <td>
                    @{
            int AgGrSum = Model.Sum(x => Convert.ToInt32(x.OperatorGraph));
            if (countAgLogDr != 0)
            {
                int resagGr = AgGrSum / countAgLogDr;
                @Html.DisplayFor(x => resagGr);
}
else
{
            @:0
}
                    }
                </td>
                <td>
                    @{
            int AgSum = Model.Sum(x => Convert.ToInt32(x.OperatorLogon));

            if (countAgLog == 0)
            { countAgLog = 1; }

            int resag = AgSum / countAgLog;
            @Html.DisplayFor(x => resag);
                    }
                </td>
            </tr>
        </tfoot>
    </table>
</div>


@*@Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
    <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>*@
@*<script type="text/javascript">
        var TableDatatablesManaged = function () {

            var initTable1 = function () {

                var table = $('#sample_1');

                // begin first table
                var oTable = table.dataTable({

                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ records",
                        "infoEmpty": "No records found",
                        "infoFiltered": "(filtered1 from _MAX_ total records)",
                        "lengthMenu": "Show _MENU_",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "previous": "Prev",
                            "next": "Next",
                            "last": "Last",
                            "first": "First"
                        }
                    },

                    buttons: [
                        { extend: 'print', className: 'btn dark btn-outline' },
                        { extend: 'copy', className: 'btn red btn-outline' },
                        { extend: 'pdf', className: 'btn green btn-outline' },
                        { extend: 'excel', className: 'btn yellow btn-outline ' },
                        { extend: 'csv', className: 'btn purple btn-outline ' },
                        { extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns' }
                    ],
                    //responsive: true,

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                    "columnDefs": [{
                        "targets": 0,
                        "orderable": false,
                        "searchable": false
                    }],
                    "orderable": false,
                    "lengthMenu": [
                        [25, 50, 150, -1],
                        [25, 50, 150, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 25,
                    "pagingType": "bootstrap_full_number",
                    "columnDefs": [{  // set default column settings
                        'orderable': false,
                        "targets": ["nosort"]
                    },
                    {
                        "searchable": false,
                        "targets": ["nosort"]
                    }]
                });

                $('#sample_3_tools > li > a.tool-action').on('click', function () {
                    var action = $(this).attr('data-action');
                    oTable.DataTable().button(action).trigger();
                });

                var tableWrapper = jQuery('#sample_1_wrapper');

                table.find('.group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).prop("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).prop("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                });

                table.on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }

                    initTable1();
                }

            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {
                TableDatatablesManaged.init();
            });
        }

    </script>*@

@helper ConvertToHHMMSS(int Sec)
    {
        var ts = TimeSpan.FromSeconds(Sec);
        @Html.DisplayFor(modelItem => ts)
}

@*@helper AverageCount(int sumR, int RoundR)
    {
        var ts = TimeSpan.FromSeconds(n);
        @Html.DisplayFor(modelItem => ts)
        //int D = ts.Days;
        //int H = ts.Hours;
        //int M = ts.Minutes;
        //int S = ts.Seconds;
        //int MM = ts.Milliseconds;
}*@

<script src="~/Scripts/Pages/table-datatables-buttons.js"></script>