﻿@using Resources;

@{
    ViewBag.Title = Resource.OnlineStatistics;
    ViewBag.Sub = Resource.Outbound;
    ViewBag.Pagehome = "Онлайн cтатистика";
    ViewBag.CurrentPage = "Исходящие";
}

@section PageLevelPluginsStyles{
    @Styles.Render("~/Content/global/plugins/datatables/datatables.min.css")
    @Styles.Render("~/Content/daterangepicker.css")
    @Styles.Render("~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">@Resource.Main</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Sub</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @*@Resources.Resource.Candidates
        <small class="text-lowercase">@Resources.Resource.List</small>*@
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<h3 class="page-title">
    @ViewBag.Title
    <small>@ViewBag.Sub</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-filter font-purple"></i>
            <span class="caption-subject font-purple bold uppercase">@Resource.Filter</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="submit" class="btn green sbold uppercase btn-outline btn-circle btn-sm reload" id="blockui_sample_4_1">
                    @Resource.Apply <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2" style="display:inline;">
                    <span class="help-block">@Resource.PeriodStart</span>
                    <div class='input-group date form_datetime' id="datefrom">
                        <input name="StartDate" id="datefrom-input" type='text' class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 00:00")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="help-block">@Resource.PeriodEnd</span>
                    <div class='input-group date form_datetime' id="dateto">
                        <input name="EndDate" id="dateto-input" type="text" class="form-control dtp-custom" value="@DateTime.Now.ToString("dd.MM.yyyy 23:59:59")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <span class="help-block">@Resource.PeriodSelection</span>
                    <div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i> &nbsp;
                        <span> </span>
                        <b class="fa fa-angle-down"></b>
                    </div>
                </div>*@
                <div class="col-md-2">
                    @*<span class="help-block">SkillGroup</span>
            @Html.DropDownListFor(m => m.SkillGroupId, Model.AvailableSkillGroup, new { @class = "form-control" })*@
                    @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="SkillGroup">*@
                </div>
                <div class="col-md-2">
                    @*<span class="help-block">Номер телефона</span>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Номер телефона">*@
                </div>
                <div class="col-md-2">
                    @*<span class="help-block">Оператор</span>
            @Html.DropDownListFor(m => m.AgentId, Model.AvailableAgent, new { @class = "form-control" })*@
                    @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Оператор">*@
                </div>
                <div class="col-md-2">
                    @*<span class="help-block">Количество записей</span>
            @Html.EditorFor(model => model.Top, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*<input class="form-control" type="text" id="formGroupInputSmall" placeholder="Количество записей">*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="results">
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallStatus</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallStatus
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallResult "Дозвон"</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallResult "Дозвон"
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-bars font-dark"></i>
                    <span class="caption-subject bold uppercase">@Resource.CallResult "Недозвон"</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr align="center" valign="center">
                            <th rowspan="2">
                                @Resource.CallResult "Недозвон"
                            </th>
                            <th rowspan="2">
                                @Resource.Quantity
                            </th>
                            <th rowspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Resource.Total:</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



@section PageLevelPluginsScript {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/global/scripts/datatable.js")
    @Scripts.Render("~/Content/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Content/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js" type="text/javascript"></script>

    <script src="~/Content/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
}

@section PageLevelScripts{
    @Scripts.Render("~/Scripts/Pages/date-time-pickers.js")
    @Scripts.Render("~/Scripts/Pages/ui-blockui.js")
    <script src="~/Scripts/Pages/components-date-time-pickers.js"></script>

    <script type="text/javascript">
        var TableDatatablesManaged = function () {

            var initTable1 = function () {

                var table = $('#sample_1');

                // begin first table
                var oTable = table.dataTable({

                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        //"aria": {
                        //    "sortAscending": ": activate to sort column ascending",
                        //    "sortDescending": ": activate to sort column descending"
                        //},
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ records",
                        "infoEmpty": "No records found",
                        "infoFiltered": "(filtered1 from _MAX_ total records)",
                        "lengthMenu": "Show _MENU_",

                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "previous": "Prev",
                            "next": "Next",
                            "last": "Last",
                            "first": "First"
                        }
                    },

                    //buttons: [
                    //    { extend: 'excel', className: 'btn yellow btn-outline ' },
                    //    { extend: 'csv', className: 'btn purple btn-outline ' }
                    //],

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                    "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                    "columnDefs": [{
                        "targets": 0,
                        "orderable": false,
                        "searchable": false
                    }],

                    "lengthMenu": [
                        [25, 50, 150, -1],
                        [25, 50, 150, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 25,
                    "pagingType": "bootstrap_full_number",
                    "columnDefs": [{  // set default column settings
                        'orderable': false,
                        "targets": ["nosort"]
                    },
                    {
                        "searchable": false,
                        "targets": ["nosort"]
                    }]
                });

                $('#sample_3_tools > li > a.tool-action').on('click', function () {
                    var action = $(this).attr('data-action');
                    oTable.DataTable().button(action).trigger();
                });

                var tableWrapper = jQuery('#sample_1_wrapper');

                table.find('.group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).prop("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).prop("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                });

                table.on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }
                    initTable1();
                }

            };

        }();

        var sDate = '';
        var eDate = '';

        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            sDate = picker.startDate.format('YYYY-MM-DD');
            eDate = picker.endDate.format('YYYY-MM-DD');
        });


        $(function () {
            sDate = $("#datefrom-input").val();
            eDate = $("#dateto-input").val();

            $.ajaxSetup({ cache: false });
            $("#blockui_sample_4_1").click(function (e) {
                var ct = $('#SkillGroupId').val();
                $.ajax({
                    type: 'POST',
                    url: '/Statistic/StatisticOutSearch',
                    data: {
                        'sd': sDate, 'ed': eDate, 'SkillGroupId': ct
                    },
                    success: function (html) {
                        $("#results").html(html);
                        TableDatatablesManaged.init();
                    }
                });
            });
        })

        function show() {
            sDate = $("#datefrom-input").val();
            eDate = $("#dateto-input").val();

            var ct = $('#SkillGroupId').val();
            $.ajax({
                type: 'POST',
                url: '/Statistic/StatisticOutSearch',
                data: {
                    'sd': sDate, 'ed': eDate, 'SkillGroupId': ct
                },
                success: function (html) {
                    $("#results").html(html);
                    TableDatatablesManaged.init();
                }
            });

            App.blockUI({
                target: '#results',
                boxed: true,
                message: 'Processing...'
            });

            window.setTimeout(function () {
                App.unblockUI('#results');
            }, 100000);
        }

        $(document).ready(function () {
            TableDatatablesManaged.init();
            show();
            //setInterval('show()', 60000);
        });
    </script>
}

