﻿
@{
    ViewBag.Title = "Forbidden";
}

@section PageLevelPluginsStyles{
<link href="~/Content/pages/css/error.css" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 403 </div>
        <div class="details">
            <br />
            <h3>Oops! Доступ запрещен.</h3>
            <p>
                Извините за временные неудобства. Обратитесь к разработчику. 
                <br />
                <a href="@Url.Action("Index", "Home")"> Вернутся </a> на главную.
            </p>            
        </div>
    </div>
</div>

